################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AuthorizationGateway
/AuthorizationGateway.Api/obj
/AuthorizationGateway.Core/obj/Debug/net8.0
/AuthorizationGateway.Core/obj
/AuthorizationGateway.Core.Tests/bin/Debug/net8.0
/AuthorizationGateway.Core.Tests/obj
/AuthorizationGateway.Infrastructure/obj
/AuthorizationGateway.Infra.Tests/bin/Debug/net8.0
/AuthorizationGateway.Infra.Tests/obj
/AuthorizationGateway.Core/bin/Debug/net8.0
/AuthorizationGateway.Infrastructure/bin/Debug/net8.0
