@page
@model AuthorizationGateway.Api.Pages.IndexModel
@{
    ViewData["Title"] = "Authorization Gateway";
}

<h1>Authorization Gateway</h1>
<p>Welcome! Use this interface to test plaintext or encrypted EMV transactions.</p>

<a href="/Transactions" class="btn btn-primary">Go to Transactions</a>
